
.videoGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.videoGallery::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 20px 20px #CCCCCC;
    border-radius: 20px;
    height: 56px;
}

.videoGallery::-webkit-scrollbar{
    width: 10px;
}

.videoCard{
   margin:10px;
   border-radius: 10px;
}

.videoCard:hover{
    cursor: pointer;
}

.video__info{
    display: flex;
    width:400px;
    color:gray;
    font-weight: 500;
    font-family: 'Roboto' , 'Courier New', Courier, monospace;
}

.video__title{
    display: flex;
    margin-top:15px;
    font-size: 14px;
    font-weight: 500;
    color:black;
    font-family: 'Roboto' , 'Courier New', Courier, monospace;

}

.videoSuggestionCard{
    display: flex;
    cursor: pointer;
    margin-bottom:20px;
    padding:0px 5%;
}

.suggestionListWrapper{
    width: 35%;
}

.mainVideoPlayer{
    width: 65%;
}

@media screen and (max-width:1100px) {
    .videoAndSuggestionWrapper{
        flex-direction: column;
    }
    .suggestionListWrapper{
        width:100%;
        margin-top:20px;
        padding-left:2%;
    }
    .mainVideoPlayer{
        width:100%;
    }
    .videoSuggestionCard{
        padding:0px;
    }
    
}

@media screen and (max-width:700px) {
    .videoSuggestionCard{
        flex-direction: column;
    }
}

.videoSuggestionCard-title{
    font-weight: 500;
    font-size: 14px;
}
.videoSuggestionCard-text{
    color:gray;
    font-weight: 500;
    font-size: 12px;

}

.videoDescription{
    background-color: lightgrey;
    border-radius: 10px;
}